/* Page Title */
.pgTitle{
    font-weight: 520;
    border-radius: 14px;
    padding: 6px;
    margin: 40px 10px 20px 10px;
    color: #333;
    float: center;  
    background-color: #009dff;
}

/* Movie number badge */
.badge{
    background-color: gold;
}

