/* movie poster */
img.movie {
    margin-top: 20px;
    float: left;
    width: 100%;
    height: 25rem;
    border-radius: 10px;
  }

  /* Whole Page */
.page {
    margin-top: 30px;
    padding-top: 30px; 
  }

.movie {
    margin: 20px;
    color: whitesmoke;
  }

  /* Movie title */
  .mName{
    color: #333333;
    text-align: center;
    background-color: #009dff;
    border-radius: 10px;
    margin-bottom: 10px;
    
  }

  .homeIcon {
    color: white;
  }