/* Site Nav Bar */
/* top - right - bottom - left */
.fixed-top {
    /*padding: 10px 5px 10px 40px ;*/
    background-color:#000;
    font-size: x-large;
    color: aliceblue;
    height: 10%;
}
.brandSize {
    font-size: 40px !important;
    color: aliceblue;
}

/* #009DFF; */